.footer{
    background-color: $color-secondary;
    grid-column: 2 / 12;
    padding: 5rem;
    align-items: center;

    @media only screen and (max-width: $bp-large){
        grid-column: 1 / 12;
    }
}

.nav{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(9.375rem, 1fr));
    grid-gap: 1.25rem;
    list-style: none;

    &__link:link,
    &__link:visited{
        font-family: $font-display;
        text-transform: uppercase;
        font-size: 0.875rem;
        text-decoration: none;
        color: #fff;
        padding: .938rem;
        text-align: center;
        display: block;
        transition: all .2s;

        &:hover,
        &:active{
            background-color: rgba($color: #fff, $alpha: .05);
            transform: translateY(-3px);
        }
    }
}

.copyright{
    font-size: 0.875rem;
    color: $color-grey-light-2;
    margin-top: 3.75rem;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 70%;
}


